/**
 * Created by ronanwilliams on 2019-08-16.
 */

.THIS .name input{
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
}

.THIS .value input{
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
}

.THIS .lineRow {
    display: grid;
    grid-template-columns: 22% 22% 22% 22% 10%;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    border-bottom: 0.5px solid #d7d7d7;
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
}

.THIS .lineRow:hover {
    background-color: #f8f8f8;
}

.THIS .buttons {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.THIS .deleteIcon {
    opacity: 0.5;
}

.THIS .deleteIcon:hover {
    opacity: 1;
}

.THIS label {
    display: none;
}

.THIS .undo {
}

.THIS .success {
    background-color: #95f695;
}

.THIS .successInput input {
    background-color: #95f695;
}